<h1>Goodbye <%= @time %></h1>
<p>Never say goodbye because goodbye means going away and going away means forgetting.</p>
<a href="/say/hello">Wanna go back to hello</a>

<p><%= link_to "Wanna go back to hello", say_hello_path %></p>